<h1><b>&lt;Org Name&gt; - Gestational Carrier</b></h1>
<table>
    <td><tr><mat-icon style="display: inline-flex; vertical-align: top;">information</mat-icon></tr></td>
    <td><tr><p>Welcome to &lt;Org Name&gt;. Thank you for taking the first step in making a difference! Surrogate mothers are very special. We are very excited to review your initial application. Once submitted, you will be contacted by a Surrogate Specialist who will guide you through the intake process. If you have any questions, please feel free to contact us at 858-299-4540.</p></tr></td>
</table>

<form *ngIf="showForm" [formGroup]="gcform2" (ngSubmit)="onSubmit()">
  <table style="margin-left: 30px; display: inline-block; width: 900px;">
    <td>
      <tr>
        <mat-label><b>1. First Name</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="firstName" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>2. Last Name</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>3. Please upload at least 2 photos of yourself</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" appearance="outline">
          <mat-label>Please upload at least 2 photos of yourself</mat-label>
          <input matInput formControlName="photos" maxlength="50" required>
          <mat-error *ngIf="gcform2.controls['photos'].errors?.required">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>4. Address</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>5. City</b></mat-label><br>
        <mat-form-field style="margin-left: 15px;" appearance="outline">
          <mat-label>City</mat-label>
          <input matInput formControlName="city" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <table>
          <td>
            <tr>
              <mat-label><b>6. U.S. State</b></mat-label><br>
              <mat-form-field style="margin-left: 15px;" class="my-class" appearance="outline">
                <mat-label>U.S. State</mat-label>
                <mat-select formControlName="state">
                  <mat-option value="Alabama">AL</mat-option>
                  <mat-option value="Alaska">AK</mat-option>
                  <mat-option value="Arizona">AZ</mat-option>
                  <mat-option value="Arkansas">AR</mat-option>
                  <mat-option value="California">CA</mat-option>
                  <mat-option value="Colorado">CO</mat-option>
                  <mat-option value="Connecticut">CT</mat-option>
                  <mat-option value="Delaware">DE</mat-option>
                  <mat-option value="Florida">FL</mat-option>
                  <mat-option value="Georgia">GA</mat-option>
                  <mat-option value="Hawaii">HI</mat-option>
                  <mat-option value="Idaho">ID</mat-option>
                  <mat-option value="Illinois">IL</mat-option>
                  <mat-option value="Indiana">IN</mat-option>
                  <mat-option value="Iowa">IA</mat-option>
                  <mat-option value="Kansas">KS</mat-option>
                  <mat-option value="Kentucky">KY</mat-option>
                  <mat-option value="Louisiana">LA</mat-option>
                  <mat-option value="Maine">ME</mat-option>
                  <mat-option value="Maryland ">MD</mat-option>
                  <mat-option value="Massachusetts">MA</mat-option>
                  <mat-option value="Michigan">MI</mat-option>
                  <mat-option value="Minnesota">MN</mat-option>
                  <mat-option value="Mississippi">MS</mat-option>
                  <mat-option value="Missouri">MO</mat-option>
                  <mat-option value="Montana">MT</mat-option>
                  <mat-option value="Nebraska">NE</mat-option>
                  <mat-option value="Nevada">NV</mat-option>
                  <mat-option value="New Hampshire">NH</mat-option>
                  <mat-option value="New Jersey">NJ</mat-option>
                  <mat-option value="New Mexico">NM</mat-option>
                  <mat-option value="New York">NY</mat-option>
                  <mat-option value="North Carolina">NC</mat-option>
                  <mat-option value="North Dakota">ND</mat-option>
                  <mat-option value="Ohio">OH</mat-option>
                  <mat-option value="Oklahoma">OK</mat-option>
                  <mat-option value="Oregon">OR</mat-option>
                  <mat-option value="Pennsylvania">PA</mat-option>
                  <mat-option value="Rhode Island">RI</mat-option>
                  <mat-option value="Rhode Island">SC</mat-option>
                  <mat-option value="South Dakota">SD</mat-option>
                  <mat-option value="Tennessee">TN</mat-option>
                  <mat-option value="Texas">TX</mat-option>
                  <mat-option value="Utah">UT</mat-option>
                  <mat-option value="Vermont">VT</mat-option>
                  <mat-option value="Virginia">VA</mat-option>
                  <mat-option value="Washington">WA</mat-option>
                  <mat-option value="West Virginia">WV</mat-option>
                  <mat-option value="Wisconsin">WI</mat-option>
                  <mat-option value="Wyoming">WY</mat-option>
                  <mat-option value="Outside of USA - Please indicate">Outside of USA - Please indicate</mat-option>
                </mat-select>
              </mat-form-field>
            </tr>
          </td>
          <td>
            <tr>
              <mat-label><b>7. Please indicate if outside of USA</b></mat-label><br>
              <mat-form-field style="margin-left: 15px;" class="my-class" appearance="outline">
                <mat-label>Please indicate if outside of USA</mat-label>
                <input matInput formControlName="outside_USA" maxlength="50">
              </mat-form-field>
            </tr>
          </td>
        </table>
      </tr>
      <tr>
        <mat-label><b>8. Zip Code</b></mat-label><br>
        <mat-form-field class="my-class" style="margin-left: 15px;" appearance="outline">
          <mat-label>Zip Code</mat-label>
          <input matInput formControlName="zip_code" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>9. What is your date of birth?</b></mat-label><br>
        <mat-form-field class="my-class" appearance="outline">
          <mat-label>What is your date of birth?</mat-label>
          <input formControlName="birthDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>10. Age</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Age</mat-label>
          <input matInput formControlName="age" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>11. What is your primary phone number?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What is your primary phone number?</mat-label>
          <input matInput formControlName="telephone_number" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>12. What is your email?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What is your email?</mat-label>
          <input matInput formControlName="email" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>13. What is your spouse/partner's name? (or n/a if no partner/spouse)</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What is your spouse/partner's name? (or n/a if no partner/spouse)</mat-label>
          <input matInput formControlName="spouse_name" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>14. What is your spouse/partner's email address? (or n/a)</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What is your spouse/partner's email address? (or n/a)</mat-label>
          <input matInput formControlName="spouse_email" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <table>
          <td>
            <tr>
              <mat-label><b>15. Height (feet)</b></mat-label><br>
              <mat-form-field class="my-class" appearance="outline">
                <mat-label for="height_feet">Height</mat-label>
                <input matInput type="text" name="htf" size="3" id="height_feet">
                <span matSuffix> feet</span>
              </mat-form-field>
            </tr>
          </td>
          <td>
            <tr>
              <mat-label><b>16. Height (inches)</b></mat-label><br>
              <mat-form-field class="my-class" appearance="outline">
                <mat-label for="height_inches">Height</mat-label>
                <input matInput type="text" name="hti" size="3" id="height_inches">
                <span matSuffix> inches</span>
              </mat-form-field>
            </tr>
          </td>
        </table>
      </tr>
      <table>
        <td>
          <tr>
            <mat-label><b>17. Weight</b></mat-label><br>
            <mat-form-field class="my-class" appearance="outline">
              <mat-label for="your_weight">Weight</mat-label>
              <input matInput type="text" name="wt" size="3" id="your_weight">
              <span matSuffix>pounds</span>
            </mat-form-field>
          </tr>
        </td>
        <td>
          <tr>
            <br><br>
            <button mat-raised-button style="margin-left: 15px;" (click)="this.compute()" class="bmi" color="warn" type="button">Compute BMI <mat-icon>cached</mat-icon></button>
          </tr>
        </td>
      </table>
      <tr>
        <mat-label for="yourbmi">
          <span style="font-size: 16px; font-weight:bold;"><b>18. BMI: </b></span>
        </mat-label>
        <input name="bmi" type="text" size="16" id="yourbmi" style="text-align: center"/>
      </tr>
      <br>
      <tr>
        <mat-label><b>19. What is your citizenship status?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What is your citizenship status?</mat-label>
          <mat-select formControlName="citizenship_status">
            <mat-option value="U.S. Citizen">U.S. Citizen</mat-option>
            <mat-option value="U.S. National">U.S. National</mat-option>
            <mat-option value="Lawful Permanent Resident Alien">Lawful Permanent Resident Alien</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>20. If Other, please explain</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>If Other, please explain</mat-label>
          <textarea matInput formControlName="other_citizenship" maxlength="500"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>21. How many biological children do you have?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>How many biological children do you have?</mat-label>
          <mat-select formControlName="bioChildren">
            <mat-option value="N/A">N/A</mat-option>
            <mat-option value="One">One</mat-option>
            <mat-option value="Two">Two</mat-option>
            <mat-option value="Three">Three</mat-option>
            <mat-option value="Four">Four</mat-option>
            <mat-option value="Five">Five</mat-option>
            <mat-option value="Six">Six</mat-option>
            <mat-option value="Seven">Seven</mat-option>
            <mat-option value="Eight">Eight</mat-option>
            <mat-option value="Nine">Nine</mat-option>
            <mat-option value="Ten">Ten</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>22. What has inspired you to help others to have a family via surrogacy?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What has inspired you to help others to have a family via surrogacy?</mat-label>
          <textarea matInput formControlName="inspired" maxlength="500"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>23. How did you hear about our center?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>How did you hear about our center?</mat-label>
          <mat-select formControlName="hear">
            <mat-option value="Personal Referral (Provide Name)">Personal Referral (Provide Name)</mat-option>
            <mat-option value="A Friend (Provide Name)">A Friend (Provide Name)</mat-option>
            <mat-option value="Recruiter (Provide Name)">Recruiter (Provide Name)</mat-option>
            <mat-option value="Craigslist Ad">Craigslist Ad</mat-option>
            <mat-option value="Google Ad">Google Ad</mat-option>
            <mat-option value="Internet Research">Internet Research</mat-option>
            <mat-option value="Image Ad On a Website">Image Ad On a Website</mat-option>
            <mat-option value="Bing Ad">Bing Ad</mat-option>
            <mat-option value="Yahoo Ad">Yahoo Ad</mat-option>
            <mat-option value="Facebook Post">Facebook Post</mat-option>
            <mat-option value="Facebook Sponsored Video Ad">Facebook Sponsored Video Ad</mat-option>
            <mat-option value="Facebook Sponsored Ad">Facebook Sponsored Ad</mat-option>
            <mat-option value="Instagram Post">Instagram Post</mat-option>
            <mat-option value="Instagram Sponsored Ad">Instagram Sponsored Ad</mat-option>
            <mat-option value="Instagram Sponsored Video Ad">Instagram Sponsored Video Ad</mat-option>
            <mat-option value="Tumblr">Tumblr</mat-option>
            <mat-option value="Tinder">Tinder</mat-option>
            <mat-option value="Car Ad">Car Ad</mat-option>
            <mat-option value="Hungry SD">Hungry SD</mat-option>
            <mat-option value="Flyer on Campus">Flyer on Campus</mat-option>
            <mat-option value="Ad in Campus Newspaper">Ad in Campus Newspaper</mat-option>
            <mat-option value="WeChat">WeChat</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>24. Coordinator</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Coordinator</mat-label>
          <input matInput formControlName="Coordinator" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <div class="add-bottom-padding">
          <label><b>25. Have you been a surrogate before?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="surrogate">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr [formGroup]="Form">
        <mat-label><b>26. Pap Smear</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers" formGroupName="paps">
          <ng-container *ngIf="Form.controls.paps!=null">
            <div *ngFor="let pap of Form.controls.paps.controls; let i=index" [formGroupName]="i">
              <tr>
                <td><input matInput formControlName="No" maxlength="500" placeholder="No"></td>
                <td><input matInput formControlName="last_pap" maxlength="500" placeholder="When was your last Pap?"></td>
                <td><input matInput formControlName="result_pap" maxlength="500" placeholder="What was the result?"></td>
                <td><button mat-raised-button color="warn" (click)="deleteRow(i)">X</button></td>
              </tr>
            </div>
          </ng-container>
        </table>
        <br>
        <button style="margin-left: 25px;" mat-raised-button color="Primary" type="button" (click)="addNewRow()" [disabled]="Form.invalid">Add More</button>
      </tr>
      <br>
      <tr>
        <mat-label><b>27. Total number of pregnancies</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers">
          <tr>
            <th></th>
            <th>Number</th>
            <th>Date(s)</th>
          </tr>
          <tr>
            <th>Term Delivery</th>
            <td><input matInput formControlName="TD_number" maxlength="500"></td>
            <td><input matInput formControlName="TD_date" maxlength="500"></td>
          </tr>
          <tr>
            <th>Pre-Term Delivery</th>
            <td><input matInput formControlName="PT_number" maxlength="500"></td>
            <td><input matInput formControlName="PT_date" maxlength="500"></td>
          </tr>
          <tr>
            <th>Spontaneous Miscarriage</th>
            <td><input matInput formControlName="SM_number" maxlength="500"></td>
            <td><input matInput formControlName="SM_date" maxlength="500"></td>
          </tr>
          <tr>
            <th>Elective Abortion</th>
            <td><input matInput formControlName="EA_number" maxlength="500"></td>
            <td><input matInput formControlName="EA_date" maxlength="500"></td>
          </tr>
          <tr>
            <th>Stillbirth</th>
            <td><input matInput formControlName="S_number" maxlength="500"></td>
            <td><input matInput formControlName="S_date" maxlength="500"></td>
          </tr>
        </table>
      </tr>
      <br>
      <tr>
        <mat-label><b>28. How many C-sections have you had?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>How many C-sections have you had?</mat-label>
          <input matInput formControlName="c_sections" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>29. Please select the most accurate answer in regards to your pregnancies:</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Please select the most accurate answer in regards to your pregnancies</mat-label>
          <mat-select formControlName="pregnancies">
            <mat-option value="All of my deliveries were between 37-40 weeks">All of my deliveries were between 37-40 weeks</mat-option>
            <mat-option value="I delivered one or more times between 35-37 weeks">I delivered one or more times between 35-37 weeks</mat-option>
            <mat-option value="I delivered one or more times at 34 weeks or less">I delivered one or more times at 34 weeks or less</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>30. Have you ever had any of the following major complications during pregnancy?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Have you ever had any of the following major complications during pregnancy?</mat-label>
          <mat-select formControlName="complications">
            <mat-option value="No, to my knowledge I have not had any major complications during pregnancy">No, to my knowledge I have not had any major complications during pregnancy</mat-option>
            <mat-option value="Yes, I had some major complications, but cannot remember what it is called">Yes, I had some major complications, but cannot remember what it is called</mat-option>
            <mat-option value="Yes, eclampsia">Yes, eclampsia</mat-option>
            <mat-option value="Yes, intrauterine growth restriction (IUGR)">Yes, intrauterine growth restriction (IUGR)</mat-option>
            <mat-option value="Yes, oligodydramnios">Yes, oligodydramnios</mat-option>
            <mat-option value="Yes, pre-eclampsia">Yes, pre-eclampsia</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>31. When was your most recent delivery?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>When was your most recent delivery?</mat-label>
          <mat-select formControlName="recent_delivery">
            <mat-option value="2016 or earlier">2016 or earlier</mat-option>
            <mat-option value="2017">2017</mat-option>
            <mat-option value="2018">2018</mat-option>
            <mat-option value="2019">2019</mat-option>
            <mat-option value="2020">2020</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr [formGroup]="Form1">
        <mat-label><b>32. Your delivery history</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers" formGroupName="delivery_historys">
          <ng-container *ngIf="Form1.controls.delivery_historys!=null">
            <div *ngFor="let delivery_history of Form1.controls.delivery_historys.controls; let i=index" [formGroupName]="i">
              <tr>
                <td><input matInput formControlName="surrogacy" maxlength="500" placeholder="Own or Surrogacy"></td>
                <td><input matInput formControlName="birthDate" maxlength="500" placeholder="Date Of Birth"></td>
                <td><input matInput formControlName="vaginal" maxlength="500" placeholder="Vaginal or C-Section"></td>
                <td><input matInput formControlName="birthWeight" maxlength="500" placeholder="Birth Weight"></td>
                <td><input matInput formControlName="number" maxlength="500" placeholder="Number of Weeks Carried"></td>
                <td><button mat-raised-button color="warn" maxlength="500" (click)="deleteRow1(i)">X</button></td>
              </tr>
            </div>
          </ng-container>
        </table>
        <br>
        <button style="margin-left: 25px;" mat-raised-button color="Primary" type="button" (click)="addNewRow1()" [disabled]="Form1.invalid">Add More</button>
      </tr>
      <br>
      <tr>
        <mat-label><b>33. Are you currently breastfeeding?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Are you currently breastfeeding?</mat-label>
          <mat-select formControlName="breastfeeding">
            <mat-option value="N/A">N/A</mat-option>
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No,  I am not currently breastfeeding.">No,  I am not currently breastfeeding.</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>34. What is your current form of birth control?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What is your current form of birth control?</mat-label>
          <mat-select formControlName="birth_control">
            <mat-option value="Birth control pills">Birth control pills</mat-option>
            <mat-option value="Condoms">Condoms</mat-option>
            <mat-option value="IUD - copper (Paraguard)">IUD - copper (Paraguard)</mat-option>
            <mat-option value="IUD - Mirena, Skyla, or Liletta">IUD - Mirena, Skyla, or Liletta</mat-option>
            <mat-option value="Tubal ligation">Tubal ligation</mat-option>
            <mat-option value="Partner vasectomy">Partner vasectomy</mat-option>
            <mat-option value="Depo shot">Depo shot</mat-option>
            <mat-option value="Essure">Essure</mat-option>
            <mat-option value="Nexplanon or Arm implant">Nexplanon or Arm implant</mat-option>
            <mat-option value="Abstinence">Abstinence</mat-option>
            <mat-option value="Birth control patch">Birth control patch</mat-option>
            <mat-option value="NuvaRing">NuvaRing</mat-option>
            <mat-option value="Other (please specify)">Other (please specify)</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>35. How long have you been using this method? Please explain</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>How long have you been using this method? Please explain</mat-label>
          <textarea matInput formControlName="explain_method" maxlength="5000"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>36. Past History of long-acting birth control:</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers">
          <tr>
            <th></th>
            <th>When Started</th>
            <th>When Stopped</th>
          </tr>
          <tr>
            <th>Depo-Provera Shot</th>
            <td><input matInput formControlName="DP_started" maxlength="500"></td>
            <td><input matInput formControlName="DP_stopped" maxlength="500"></td>
          </tr>
          <tr>
            <th>IUD (Mirena / Skyla / Liletta)</th>
            <td><input matInput formControlName="IUD_started" maxlength="500"></td>
            <td><input matInput formControlName="IUD_stopped" maxlength="500"></td>
          </tr>
          <tr>
            <th>Nexplanon / Implanon</th>
            <td><input matInput formControlName="N_started" maxlength="500"></td>
            <td><input matInput formControlName="N_stopped" maxlength="500"></td>
          </tr>
        </table>
      </tr>
      <br>
      <tr>
        <div class="add-bottom-padding">
          <label><b>37. Have you ever had endometrial ablation?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="endometrial">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <mat-label><b>38. Have you taken any prescribed anti-depression or anti-anxiety medication in the last 12 months?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Have you taken any prescribed anti-depression or anti-anxiety medication in the last 12 months?</mat-label>
          <mat-select formControlName="anti_depression">
            <mat-option value="Yes, I am currently taking anti anxiety or anti depression medication">Yes, I am currently taking anti anxiety or anti depression medication</mat-option>
            <mat-option value="Yes, but I am no longer taking anti anxiety or anti depression medication">Yes, but I am no longer taking anti anxiety or anti depression medication</mat-option>
            <mat-option value="No, I have not taken any anti anxiety or anti depression medication in the last year">No, I have not taken any anti anxiety or anti depression medication in the last year</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <div class="add-bottom-padding">
          <label><b>39. Are you currently diagnosed with any psychological disorders?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="psychological">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <mat-label><b>40. Have you used any of the following in the past year?</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers">
          <tr>
            <th style="width: 200px;"></th>
            <th style="width: 200px;">Yes</th>
            <th style="width: 200px;">No</th>
          </tr>
          <tr>
            <th style="width: 200px;">Amphetamines</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Amphetamines_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Amphetamines_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Barbiturates</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Barbiturates_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Barbiturates_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Cocaine</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Cocaine_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Cocaine_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Hallucinogens</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Hallucinogens_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Hallucinogens_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Heroin</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Heroin_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Heroin_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">LSD</th>
            <td style="width: 200px;"><mat-checkbox formControlName="LSD_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="LSD_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Marijuana</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Marijuana_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Marijuana_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Narcotics</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Narcotics_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Narcotics_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Opiates</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Opiates_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Opiates_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">PCP</th>
            <td style="width: 200px;"><mat-checkbox formControlName="PCP_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="PCP_no"></mat-checkbox></td>
          </tr>
        </table>
      </tr>
      <br>
      <tr>
        <mat-label><b>41. How frequently do you drink alcoholic beverages?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>How frequently do you drink alcoholic beverages?</mat-label>
          <input matInput formControlName="alcoholic" maxlength="500" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>42. Will you be able to abstain from alcohol throughout your surrogacy journey?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Will you be able to abstain from alcohol throughout your surrogacy journey?</mat-label>
          <textarea matInput formControlName="explain_alcohol" maxlength="5000"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <div class="add-bottom-padding">
          <label><b>43. Do you smoke?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="smoke">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <mat-label><b>44. Past or present history of the following:</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers">
          <tr>
            <th></th>
            <th>Yes / No</th>
          </tr>
          <tr>
            <th>Diabetes</th>
            <td><input matInput formControlName="Diabetes" maxlength="500"></td>
          </tr>
          <tr>
            <th>Heart Problems</th>
            <td><input matInput formControlName="Heart" maxlength="500"></td>
          </tr>
          <tr>
            <th>High Blood Pressure</th>
            <td><input matInput formControlName="High" maxlength="500"></td>
          </tr>
          <tr>
            <th>Ovarian Cysts</th>
            <td><input matInput formControlName="Ovarian" maxlength="500"></td>
          </tr>
          <tr>
            <th>Uterine Fibroids</th>
            <td><input matInput formControlName="Uterine" maxlength="500"></td>
          </tr>
          <tr>
            <th>Thyroid Problems</th>
            <td><input matInput formControlName="Thyroid" maxlength="500"></td>
          </tr>
        </table>
      </tr>
      <br>
      <tr>
        <div class="add-bottom-padding">
          <label><b>45. Have you had asthmatic symptoms during pregnancy that required treatment?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="asthmatic">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <div class="add-bottom-padding">
          <label><b>46. Have you ever taken medication for gestational diabetes?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="gestational">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <div class="add-bottom-padding">
          <label><b>47. Have you had symptoms of migraine headaches during pregnancy that required treatment?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="migraine">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <mat-label><b>48. Any major GYN surgeries involving reproductive organs?</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers">
          <tr>
            <th style="width: 200px;"></th>
            <th style="width: 200px;">Yes</th>
            <th style="width: 200px;">No</th>
          </tr>
          <tr>
            <th style="width: 200px;">Ovarian Cystectomy</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Ovarian_Cystectomy_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Ovarian_Cystectomy_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Fibroid Removal</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Fibroid_Removal_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Fibroid_Removal_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Salpingectomy</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Salpingectomy_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Salpingectomy_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Oophorectomy</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Oophorectomy_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Oophorectomy_no"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Other (please specify)</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Other_yes"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Other_no"></mat-checkbox></td>
          </tr>
        </table>
      </tr>
      <br>
      <tr>
        <mat-label><b>49. Are you or your partner/spouse currently diagnosed with:</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers">
          <tr>
            <th style="width: 200px;"></th>
            <th style="width: 200px;">Myself</th>
            <th style="width: 200px;">My Partner</th>
            <th style="width: 200px;">Neither</th>
          </tr>
          <tr>
            <th style="width: 200px;">AIDS</th>
            <td style="width: 200px;"><mat-checkbox formControlName="AIDS_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="AIDS_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="AIDS_None"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Genital Warts</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Genital_Warts_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Genital_Warts_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Genital_Warts_None"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Hepatitis B</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Hepatitis_B_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Hepatitis_B_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Hepatitis_B_None"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Hepatitis C</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Hepatitis_C_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Hepatitis_C_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Hepatitis_C_None"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Herpes</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Herpes_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Herpes_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Herpes_None"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">HIV</th>
            <td style="width: 200px;"><mat-checkbox formControlName="HIV_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="HIV_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="HIV_None"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">HPV</th>
            <td style="width: 200px;"><mat-checkbox formControlName="HPV_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="HPV_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="HPV_None"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Syphilis</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Syphilis_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Syphilis_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Syphilis_None"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Trichomonas</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Trichomonas_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Trichomonas_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Trichomonas_None"></mat-checkbox></td>
          </tr>
        </table>
      </tr>
      <br>
      <tr>
        <mat-label><b>50. Within the last year, have you or your partner/spouse been diagnosed with the following:</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers">
          <tr>
            <th style="width: 200px;"></th>
            <th style="width: 200px;">Myself</th>
            <th style="width: 200px;">My Partner</th>
            <th style="width: 200px;">Neither</th>
          </tr>
          <tr>
            <th style="width: 200px;">Chlamydia</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Chlamydia_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Chlamydia_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Chlamydia_None"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Gonorrhea</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Gonorrhea_Warts_Me"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Gonorrhea_Warts_Partner"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Gonorrhea_Warts_None"></mat-checkbox></td>
          </tr>
        </table>
      </tr>
      <br>
      <tr>
        <mat-label><b>51. Are you currently covered by medical insurance? If so, who is your provider? (If not applicable, put N/A)</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Are you currently covered by medical insurance? If so, who is your provider? (If not applicable, put N/A)</mat-label>
          <input matInput formControlName="insurance" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>52. What is your ethnic heritage? (Check all that apply)</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers">
          <tr>
            <th style="width: 200px;"></th>
            <th style="width: 200px;">Mother's Side</th>
            <th style="width: 200px;">Father's Side</th>
          </tr>
          <tr>
            <th style="width: 200px;">Asian</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Asian_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Asian_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Black or African American</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Black_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Black_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Hispanic or Latino</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Latino_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Latino_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Native American</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Native_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Native_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">German</th>
            <td style="width: 200px;"><mat-checkbox formControlName="German_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="German_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">French</th>
            <td style="width: 200px;"><mat-checkbox formControlName="French_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="French_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Irish</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Irish_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Irish_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Italian</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Italian_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Italian_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Pacific Islander</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Pacific_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Pacific_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Cherokee</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Cherokee_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Cherokee_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Caucasian</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Caucasian_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Caucasian_father"></mat-checkbox></td>
          </tr>
          <tr>
            <th style="width: 200px;">Other</th>
            <td style="width: 200px;"><mat-checkbox formControlName="Other_mother"></mat-checkbox></td>
            <td style="width: 200px;"><mat-checkbox formControlName="Other_father"></mat-checkbox></td>
          </tr>
        </table>
      </tr>
      <br>
      <tr>
        <div class="add-bottom-padding">
          <label><b>53. Due to tribal laws, we need to ascertain whether or not you (or any immediate family members) have Native American heritage. Is anyone in your immediate family affiliated with any tribes or reservations?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="tribal">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <mat-label><b>54. What is your highest level of completed education?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What is your highest level of completed education?</mat-label>
          <mat-select formControlName="highest_level_education">
            <mat-option value="None">None</mat-option>
            <mat-option value="Some High School">Some High School</mat-option>
            <mat-option value="GED">GED</mat-option>
            <mat-option value="High School Diploma">High School Diploma</mat-option>
            <mat-option value="Some Trade School">Some Trade School</mat-option>
            <mat-option value="Trade School Diploma">Trade School Diploma</mat-option>
            <mat-option value="Some College">Some College</mat-option>
            <mat-option value="Currently in College">Currently in College</mat-option>
            <mat-option value="2 Year College Degree">2 Year College Degree</mat-option>
            <mat-option value="4 Year College Degree">4 Year College Degree</mat-option>
            <mat-option value="Some Advanced Degree College">Some Advanced Degree College</mat-option>
            <mat-option value="Masters Degree">Masters Degree</mat-option>
            <mat-option value="Ph. D. Degree">Ph. D. Degree</mat-option>
            <mat-option value="MD or DO Degree">MD or DO Degree</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>55. Occupation, if employed</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Occupation, if employed</mat-label>
          <input matInput formControlName="Occupation" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <div class="add-bottom-padding">
          <label><b>56. Will you be able to attend OB appointments and other appointments related to the surrogacy journey with your current work schedule?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="appointments">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <div class="add-bottom-padding">
          <label><b>57. Are you exposed to severe levels of smoke at your place of work or at your home?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="exposed">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <mat-label><b>58. If yes, please explain</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>If yes, please explain</mat-label>
          <textarea matInput formControlName="explain_exposed" maxlength="500"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>59. Do you have a valid drivers license?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Do you have a valid drivers license?</mat-label>
          <mat-select formControlName="drivers_license">
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
            <mat-option value="N/A">N/A</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>60. Do you have reliable transportation?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Do you have reliable transportation?</mat-label>
          <mat-select formControlName="transportation">
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
            <mat-option value="N/A">N/A</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr [formGroup]="Form2">
        <mat-label><b>61. List all of your residences within the last 5 years</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers" formGroupName="residences">
          <ng-container *ngIf="Form2.controls.residences!=null">
            <div *ngFor="let residence of Form2.controls.residences.controls; let i=index" [formGroupName]="i">
              <tr>
                <td><input matInput formControlName="no" maxlength="500" placeholder="No"></td>
                <td><input matInput formControlName="address" maxlength="500" placeholder="Street Address"></td>
                <td><input matInput formControlName="city" maxlength="500" placeholder="City, State, Zip code"></td>
                <td><input matInput formControlName="years" maxlength="500" placeholder="Years resided at this location"></td>
                <td><button mat-raised-button color="warn" maxlength="500" (click)="deleteRow2(i)">X</button></td>
              </tr>
            </div>
          </ng-container>
        </table>
        <br>
        <button style="margin-left: 25px;" mat-raised-button color="Primary" type="button" (click)="addNewRow2()" [disabled]="Form2.invalid">Add More</button>
      </tr>
      <br>
      <tr>
        <mat-label><b>62. What does your partner/spouse do for a living?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What does your partner/spouse do for a living?</mat-label>
          <input matInput formControlName="living" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>63. Are you currently in a relationship?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Are you currently in a relationship?</mat-label>
          <input matInput formControlName="relationship" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>64. What is your legal marital status?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What is your legal marital status?</mat-label>
          <mat-select formControlName="marital_status">
            <mat-option value="Single">Single</mat-option>
            <mat-option value="Single (in relationship)">Single (in relationship)</mat-option>
            <mat-option value="Engaged">Engaged</mat-option>
            <mat-option value="Married">Married</mat-option>
            <mat-option value="Separated">Separated</mat-option>
            <mat-option value="Divorced">Divorced</mat-option>
            <mat-option value="Partnered">Partnered</mat-option>
            <mat-option value="Widowed">Widowed</mat-option>
          </mat-select>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>65. Please list everyone living in your home, including age and relation to you:</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Please list everyone living in your home, including age and relation to you</mat-label>
          <textarea matInput formControlName="living_home" maxlength="500"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>66. Who will be your main support person through your surrogacy?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Who will be your main support person through your surrogacy?</mat-label>
          <input matInput formControlName="support" maxlength="500">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>67. Please complete the following:</b></mat-label><br><br>
        <table style="margin-left: 25px;" id="customers">
          <tr>
            <th></th>
            <th>Yes/No</th>
          </tr>
          <tr>
            <th>Do you currently have any major legal cases or claims pending?</th>
            <td><input matInput formControlName="legal_cases" maxlength="50"></td>
          </tr>
          <tr>
            <th>Have you had any active restraining orders in the last year?</th>
            <td><input matInput formControlName="restraining" maxlength="50"></td>
          </tr>
          <tr>
            <th>Are you currently filing for divorce or legal separation?</th>
            <td><input matInput formControlName="divorce" maxlength="50"></td>
          </tr>
        </table>
      </tr>
      <br>
      <tr>
        <mat-label><b>68. What is your full legal name?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>What is your full legal name?</mat-label>
          <input matInput formControlName="legal_name" maxlength="50">
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>69. Please list any other complete names you have used in the past, including maiden name. Enter "n/a" if you haven't used any other names</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Please list any other complete names you have used in the past, including maiden name. Enter "n/a" if you haven't used any other names</mat-label>
          <textarea matInput formControlName="complete_names" maxlength="500"></textarea>
        </mat-form-field>
      </tr>
      <tr>
        <div class="add-bottom-padding">
          <label><b>70. Are you exposed to severe levels of smoke at your place of work or at your home?</b></label><br><br>
          <mat-radio-group style="margin-left: 20px;" formControlName="exposed">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </tr>
      <br>
      <tr>
        <mat-label><b>71. Have you ever been convicted of a felony?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Have you ever been convicted of a felony?</mat-label>
          <mat-select [formControl]="felony" required>
            <mat-option value="N/A">N/A</mat-option>
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
          <mat-error *ngIf="felony.hasError('required')">This field is required.</mat-error>
        </mat-form-field>
      </tr>
      <tr>
        <mat-label><b>72. Has your partner/spouse ever been convicted of a felony?</b></mat-label><br>
        <mat-form-field appearance="outline">
          <mat-label>Has your partner/spouse ever been convicted of a felony?</mat-label>
          <mat-select [formControl]="partner_felony" required>
            <mat-option value="N/A">N/A</mat-option>
            <mat-option value="Yes">Yes</mat-option>
            <mat-option value="No">No</mat-option>
          </mat-select>
          <mat-error *ngIf="partner_felony.hasError('required')">This field is required.</mat-error>
        </mat-form-field>
      </tr>
    </td>

  </table>
  <div style="margin-left: 30px;" class="button-row">
    <button style="margin-left: 25px;" mat-raised-button class="my-class" color="warn" type="save_progress">SAVE PROGRESS <mat-icon>save</mat-icon></button>
    <button style="margin-left: 25px;" mat-raised-button class="my-class" color="warn" type="submit" [disabled]="!gcform2.valid">SUBMIT <mat-icon>task_alt</mat-icon></button>
  </div>
</form>